/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



html{
  font-family: 'Montserrat', sans-serif;
}


nav ul a,
nav .brand-logo {
  color: black;
  padding-left: 1%;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: black;
}




.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: #fff;
}


.register-action{
  width: 100%;
}

#submitBtn{
  width:100%;
}

.parallax-container .section {
    width: 100%;
}

.header-1{
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 6em;
}


.header{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3em;
}

.subheader{
  margin-top: 10%;
  margin-bottom: 2%;
}

.social{
  color: #000;
}

.social:hover{
  color: red;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  .section {
    height: 100%;
    width: 100%;
    font-size: 0.5em;
  }

  .left-align{
    font-size: 1em;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .section {
    height: 100%;
    width: 100%;
    font-size: 0.5em;
  }

  .left-align{
    font-size: 1em;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
